
.footer-top{
  padding-top: 30px;
  padding-bottom: 10px;
  background: #a1a1a1;
  color: #ffffff;
}

#sm-footer {
  font-size: 15px;
  color: #ffffff;
  margin:auto;
}
#sm-footer-title {
  font-size: 17px;
  color: #ffffff;
  margin:auto;
}
#footer-columns {
  margin-top: 20px;
}
#footer-top {
  margin-bottom: 30px;
}
.footer-contact-title {
  font-size: 20px;
}
.footer-contact-infos {
  font-size: 12px;
}