.project-card {
    margin-top: 60px;
}
.appH {
    height: 90vh;
    margin: auto;
    width: 70%;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fullreport {
    margin-right: 15px;
}